$bg-color = #0F6CA5;

:local {
  .container {
    height: 100%;
  }

  .menu-header {
    height: 100px;
  }

  .items-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px);
    background-color: $bg-color;
    width: 250px;

    &.collapsed {
      width: 53px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}
