$bg-color = #0F6CA5;

:local {
  .container {
    height: 100%;
  }

  .menu-header {
    height: 60px;
    width: 270px;
  }

  .hambuger-icon {
    margin: 15px 0px 0px 20px;
    display: inline-block;
  } 

  .navigation-logo {
    margin: 3px 0px 0px 20px
    width: 65%;
  }

  .items-container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
    background-color: $bg-color;
    width: 270px;

    &.collapsed {
      width: 53px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}
