:local {
  .panel {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcfc;
    border: 1px solid #eff0f1;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;

    // Could also use flex box. This borks out on IE8 and slightly iffy in IE9.
    // This method is for unknown width and height.
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-header-section {
    padding: 10px;
  }

  .logo {
    display: block;
    margin: 30px 0px -10px 75px
    width: 60%;
    height: auto;
  }

  .title {
    color: #53BB4C;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0 0 0;
  }

  .form {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 20px 0;
  }

  .field + .field {
    border-top: 1px solid #ebebeb;
  }

  .field {
    margin: 0;

    label {
      color: #000;
      margin: 0;
      display: inline-block;
      width: 30%;
      text-align: left;
      box-sizing: border-box;
      background-color: #fff;
      padding: 10px 0 16px 20px;
      vertical-align: top;
      font-weight: 400;
      font-size: 14px;
      height: 40px;
      border-right: 1px solid #ebebeb;
      text-transform: none;
    }

    input {
      margin: 0;
      display: inline-block;
      background-color: #f8f8f8;
      height: 40px;
      width: 65%;
      font-weight: 400;
      font-size: 14px;
      padding: 0 14px;
      &:focus {
        background-color: #e2e2e2
      }
    }
  }

  .flash-message {
    text-align: center;
    margin: 10px 0 20px 0;
    padding: 10px 0 10px 0;
    color: #fff;
    background-color: #f00;
    font-size: 14px;
  }

  .form-message {
    text-align: center;
    margin: 10px 0 20px 0;
    color: #9d9fab;
    font-size: 13px;
  }

  .forgot-password-section {
    margin: 20px 0 20px 0;
  }

  .form-controls {
    text-align: center;
  }

  .copyrightSection {
    text-align: center;
    margin: 40px 0 20px 0;
    color: #9d9fab;
    font-size: 12px;
  }

  .link {
    color: #9d9fab;
    font-size: 13px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: darken(#9d9fab, 20%);
    }
  }

  .back-link {
    margin: 10px 0 10px 0;
    display: block;
  }

  .pill-button {
    color: #fff;
    cursor: pointer;
    background-color: #0F6CA5;
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    text-transform: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: darken(#0F6CA5, 20%);
    }

    &:active {
      background-color: darken(#0F6CA5, 40%);
    }
  }

  .create-account-message {
    font-size: 13px;
    margin: 10px 0 -20px 80px;
    width: 60%
    a {
      color: #00aeef;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .busy-message-inner {
    text-align: center;

    .spinner-container {
      display: inline-block;
    }
  }

  .busy-message-text {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #000;
    border-radius: 10px;
    padding: 2px 10px;
  }
}
